<div class="header-container">
  <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/assets/infoBAG.png" alt="infoBAG logo" style="margin-right: 5px; vertical-align: middle; width: 10%;">
  <a class="internal-link" href="/">
    <h1 style="display: inline;">infoBAG</h1>
  </a>
  <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/favicon.ico" alt="favicon" style="margin-left: 5px; vertical-align: middle;">

  <div id="google-search-box" class="search-box"> 
    <div class="gcse-search">
      <input type="text" placeholder="Search">
    </div>
  </div>
</div>

<script async src="https://cse.google.com/cse.js?cx=000547254117280036387:qwl-zdl2sn0"></script>
