<header class="header-container">
  <script async src="https://cse.google.com/cse.js?cx=000547254117280036387:qwl-zdl2sn0"></script>
  <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/assets/infoBAG.png" 
       alt="infoBAG logo" 
       style="margin-right: 5px; vertical-align: middle; width: 10%;">
  <h1>infoBAG</h1>
  <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/favicon.ico" 
       alt="favicon" 
       style="margin-left: 5px; vertical-align: middle;"> 
  <div class="search-box"> 
    <input type="text" placeholder="Search" id="google-search-box">
    <div class="gcse-search"></div> 
  </div>
</header>
