<!DOCTYPE html>
<html lang="en">
<body>
  <div class="header-container">
    <div class="header-content">      
      <a href="https://github.com/search?q=repo%3Amarioseixas%2Fmarioseixas.github.io">
        <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/assets/Telescope.gif" alt="favicon" class="favicon">
      </a>
      <a href="https://ib.bsb.br/tags">
        <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/assets/Label.gif" alt="favicon" class="favicon">
      </a>
      <a href="https://ib.bsb.br/events">
        <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/assets/Watch.gif" alt="favicon" class="favicon">
      </a>
      <h1 class="internal-link">
        <a href="/">infoBAG</a></h1>
      <a href="https://ib.bsb.br/404.html">
        <img src="https://raw.githubusercontent.com/marioseixas/marioseixas.github.io/main/favicon.ico" alt="favicon" class="favicon">
      </a>      
    </div>
    <h2 class="search-link"><a href="https://ib.bsb.br/life-tokens">can't steer unless already moving</a></h2>
  </div>
</body>
</html>
