body {
  background: #000000;
  color: #ffffff;
  max-width: 100%;
}

a {
  color: #ff8000;
  transition: transform 1s ease;
}

pre, code {
  overflow-x: auto;
}

pre.highlight, section {
  margin: 5vh auto;
  padding:5vh;
  background: #343434; 
  border-radius: 1em;
  transition: transform 1s ease;
}

.faded {
  color: #666362;
}
