pre, code {
  overflow-x: auto;
  font-family: 'BitPotionExt';
  font-size: 48px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

pre.highlight{
  margin: 5vh auto;
  padding:5vh;
  background: #343434; 
  border-radius: 1em;
  transition: transform 1s ease;
  font-family: 'BitPotionExt';
  font-size: 48px;
}

.faded {
  color: #666362;
}
