{% comment %} tagcloud {% endcomment %}
<ul class="tagcloud-list" style="list-style: none;">
  {% assign tags_list = site.tags | sort %}
  {% for tag in tags_list %}
    {% assign tag_name = tag[0] %}
    {% assign tag_count = tag[1].size %}
    {% assign tag_url = tag_name | slugify %}
    
    <li class="tagcloud-item" style="display: inline-block; margin: 5px;">
      <a class="tagcloud-link" style="font-size: 16px; color: #33ccff; text-decoration: none;">
        {{ tag_name }}
      </a>
      <span class="tagcloud-count" style="font-size: 16px; color: #33ccff;">({{ tag_count }})</span>
    </li>
  {% endfor %}
</ul>
