---
layout: default
---

<div class="post-wrapper">
  <article class="post">
    <header class="post-heading">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="search-link">
        <span>
          <time datetime="{{ page.date | date_to_xmlschema }}">
            · {{ page.date | date_to_string }}
          </time>
          {% if page.last_modified_at %}
            ~ <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
              {{ page.last_modified_at | date_to_string }}
            </time>
          {% endif %}
          
          {% if page.tags %}
            <span class="tags">
              · Tags:
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="tag">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          {% endif %}
          
          {% if page.info %}
            <span class="info">
              · Edit: {{ page.info }}
            </span>
          {% endif %}
          
          <a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/edit/main/{{ page.path }}" target="_blank" rel="noopener noreferrer">
            · Improve this
          </a>
          
          <a href="https://github.com/{{ site.github_username }}/{{ site.github_repository }}/commits/main/{{ page.path }}" target="_blank" rel="noopener noreferrer">
            · Revision history
          </a>
        </span>
      </div>
    </header>

    <div class="post-content-body">
      {% for block in content.blocks %}
        {% if block.type == 'code' %}
          <div class="code-container">
            {% highlight block.language %}
            {{ block.content }}
            {% endhighlight %}
            <button class="copy-button">Copy</button>
          </div>
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}
    </div>
  </article>
  {% if site.cusdis_app_id %}
    {% cusdis_comments %}
  {% endif %}
</div>

<script src="{{ '/assets/js/copy-to-clipboard.js' | relative_url }}" defer></script> 
