---
layout: default
---
<style>
  .post-wrapper {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .post-title {
    color: #efef00;
  }
  .post-heading .tags {
    color: #efef00;
  }
  .post-heading .tag {
    color: #def;
  }
  .post-heading .info {
    color: #ef0000;
  }
</style>
<div class="post-wrapper">
  <article class="post">
    <div class="post-heading">
      <h1 class="post-title">{{ page.title }}</h1>
      <span>
          <time>{{ page.date | date_to_string }}</time>&nbsp;~&gt;
          <time>{{ page.last_modified_at | date_to_string }}</time>&nbsp;&middot;
        </span>
      <div>
        <a>{{ page.date | date_to_string }}
          {% assign created_date = page.date | date: "%Y-%m-%d" %}
      {% assign modified_date = page.last_modified_at | date: "%Y-%m-%d" %}
        </a>
        {% if page.tags %}
        <a class="tags">Tags: </a>
        {% for tag in page.tags %}
        <a class="tag">{{ tag }}</a>
        {% unless forloop.last %} {% endunless %}
        {% endfor %}
        {% endif %}
        {% if page.info %}
        <a class="info">{{ page.info }}</a>
        {% endif %}
      </div>
    </div>
    <script src="{{ '/copy-to-clipboard.js' | relative_url }}" defer></script>
    {{ content | replace: "<code>", "<div class='code-container'><code>" | replace: "</code>", "</code></div>" }}
  </article>
  {% include revision.html %}
  {% if page.last_modified_at and created_date != modified_date %}<time datetime="{{ page.last_modified_at }}" itemprop="dateModified" style="color: #ffffff;">
    {{ page.last_modified_at | date: date_format }}
        </time>
      {% endif %}
</div>
